footer.footer
  .container
    p.copy &copy; Copyright | Все права защищены

script.
    var myMap, myPlacemark;

    function init() {
        myMap = new ymaps.Map('contact-map', {
            center: [55.683447, 37.731218],
            zoom: 17
        });

        myPlacemark = new ymaps.Placemark([55.683447, 37.731218], {
            hintContent: 'Feel'
        });

        myMap.geoObjects.add(myPlacemark);

    }

script(async, defer, src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=init")