section.about
  .container
    .row
      .col-lg-4.order-2.order-lg-1
        .about__img
          .img-gradient
            img(src="static/images/content/about.jpg", alt="Наша компания")
            span.img-gradient__label Наша компания

      .col-lg-8.order-1.order-lg-2
        .about__content
          h2.section-title
            span О компании
          p Основным направлением и идеей нашей компании является удовлетворение потребностей наших клиентов.
          p Тщательно изучая потребности рекламного рынка, мы стараемся обеспечить наше производство новым оборудованием, ежегодно расширяя его масштабы.
          p С вашей помощью вот уже на протяжении многих лет мы уверенно движемся вперед. Благодаря задачам, которые вы ставите перед нами, мы приобретаем бесценный опыт, уверенность  и организуем свою работу таким образом, чтобы процесс был максимально удобным и доступным для вас.
          p Мы растем вместе с нашими клиентами, среди которых крупнейшие отечественные компании, которые доверили нам участие в организации их бизнеса в области рекламы. Это строительные и транспортные компании, рекламные агентства, супермаркеты, рестораны, архитектурные и дизайнерские бюро, автосалоны и множество других компаний в самых разных сферах деятельности.
          p Мы всегда находим решения для сверхсложных заданий, обеспечивая высококачественную работу и придерживаясь принципа полного выполнения взятых на себя обязательств.
          p Благодаря этому, мы не раз имели честь принимать участие в изготовлении рекламных материалов для масштабных фестивалей и конкурсов. В частности это конкурс детское “Евровидение” , Олимпийские игры - 2016 в Рио, а также множество гастрономических и музыкальных фестивалей, спортивных соревнований и других важных событий.
          p Ежедневно мы продолжаем совершенствовать качество наших услуг и уверенно смотрим в будущее.
          p Спасибо всем за доверие, желаем успехов и процветания  и надеемся на дальнейшее плодотворное сотрудничество!