section.equipment#equipment
  .container
    .row.equipment__row.align-items-center
      .col-xl-4.col-lg-5.order-2.order-lg-1
        .equipment__img
          .img-gradient
            img(src="static/images/content/equipment-1.jpg", alt="Roland LEF")
            span.img-gradient__label Roland LEF

      .col-xl-8.col-lg-7.order-1.order-lg-2
        .equipment__content
          h2.section-title
            span Наше оборудование
          p Roland LEF профессиональный принтер серии VersaUV, третье поколение УФ принтеров Roland. Созданный с учетом опыта младших моделей, принтер позволяет наносить печать практически на любые носители, причем как на плоских так и на слегка искривленные поверхности. Технология печати чернилам ECO-UV позволяет не только выполнять полноценную печать в режиме CMYK, но и печатать лаком, создавая сложные рельефные текстуры на уже отпечатанном изображении, а использования белого цвета и дополнительно устанавливаемого картриджа с праймером, позволяет печатать на материалах не прошедших предварительную подготовку. Такой подход в сочетании с непревзойденной скоростью печати и большоим рабочим полем сделал LEF отличным выбором для загруженного сувенирного и промышленного производства.

    .row.equipment__row.align-items-center
      .col-xl-8.col-lg-7
        .equipment__content
          p Лазерный гравер 4060 используется при изготовлении сувенирной, рекламной, наградной продукции, при маркировке товаров. При бюджетной стоимости он сохраняет высокий уровень качества, точности и скорости гравировки и резки. Станок оснащен лазерной трубкой, работающей на углекислом газе, позволяющей осуществлять трехмерную гравировку максимально тонких, детализированных и сложных рисунков и надписей на различных материалах. Его назначение: резка и гравировка бумаги и картона; дерева и фанеры; резка и гравировка неметаллов; пластика и оргстекла; резины; гравировка камня и керамики; стекла и зеркал.

      .col-xl-4.col-lg-5
        .equipment__img
          .img-gradient
            img(src="static/images/content/equipment-2.jpg", alt="ЛАЗЕРНЫЙ СТАНОК 4060 RUIDA")
            span.img-gradient__label ЛАЗЕРНЫЙ СТАНОК 4060 RUIDA
