section.hero#hero
  .container
    .row
      .col-lg-6
        .hero__content
          h1 Полноцветная
            br
            span.accent печать
            span.quote в короткие сроки <br>от производителя
          p На рекламно-сувенирной продукции для компаний <br>и рекламных агентств

      .col-lg-6
        .hero__slider
          .action-slider.swiper-container
            .swiper-wrapper
              .action-slider__item.swiper-slide
                .action-slider__top
                  span.action-slider__label Акция
                  .action-slider__head
                    h2.action-slider__title
                      span Бесплатный <br>
                      | образец
                    p в день обращения
                .action-slider__img
                  img(src="static/images/content/slider-img.jpg")
              .action-slider__item.swiper-slide
                .action-slider__top
                  span.action-slider__label Акция
                  .action-slider__head
                    h2.action-slider__title
                      span Минимальный <br>
                      | заказ – 2 000
                .action-slider__img
                  img(src="static/images/content/slider-img-2.jpg")
            .swiper-pagination