section.how-work.bg-gray#how-work
  .container
    h2.section-title
      span Как мы <br>
      | работаем

    .how-work-list
      .how-work-list__item
        .how-work-list__inner
          .how-work-list__img
            img(src="static/images/content/step-1.jpg")
            .how-work-list__step 1
              span.how-work-list__step-label шаг
          h3.how-work-list__title Подача заявки
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .how-work-list__item
        .how-work-list__inner
          .how-work-list__img
            img(src="static/images/content/step-2.jpg")
            .how-work-list__step 2
              span.how-work-list__step-label шаг
          h3.how-work-list__title Обсуждение вопросов, подготовка макета
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .how-work-list__item
        .how-work-list__inner
          .how-work-list__img
            img(src="static/images/content/step-3.jpg")
            .how-work-list__step 3
              span.how-work-list__step-label шаг
          h3.how-work-list__title Делаем тестовый образец
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .how-work-list__item
        .how-work-list__inner
          .how-work-list__img
            img(src="static/images/content/step-4.jpg")
            .how-work-list__step 4
              span.how-work-list__step-label шаг
          h3.how-work-list__title Утверждение образца
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .how-work-list__item
        .how-work-list__inner
          .how-work-list__img
            img(src="static/images/content/step-5.jpg")
            .how-work-list__step 5
              span.how-work-list__step-label шаг
          h3.how-work-list__title Запуск в тираж
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.