section.services-1#services-1
  .container
    .section-top
      h2.section-title
        span Нанесение логотипа <br>
        | на различные поверхности
      .section-top__right
        .slider-controls
          .swiper-button-prev
            +icon('arrow-left')
          span.devider
          .swiper-button-next
            +icon('arrow-right')

    .services-1-slider.swiper-container
      .swiper-wrapper
        .services-1-slider__item.swiper-slide
          .services-1-slider__inner
            img(src="static/images/content/serv-1.jpg")
            span.services-1-slider__title Метал
        .services-1-slider__item.swiper-slide
          .services-1-slider__inner
            img(src="static/images/content/serv-2.jpg")
            span.services-1-slider__title Дерево
        .services-1-slider__item.swiper-slide
          .services-1-slider__inner
            img(src="static/images/content/serv-3.jpg")
            span.services-1-slider__title Кожа
        .services-1-slider__item.swiper-slide
          .services-1-slider__inner
            img(src="static/images/content/serv-4.jpg")
            span.services-1-slider__title Пластик
        .services-1-slider__item.swiper-slide
          .services-1-slider__inner
            img(src="static/images/content/serv-1.jpg")
            span.services-1-slider__title Метал
        .services-1-slider__item.swiper-slide
          .services-1-slider__inner
            img(src="static/images/content/serv-2.jpg")
            span.services-1-slider__title Дерево
        .services-1-slider__item.swiper-slide
          .services-1-slider__inner
            img(src="static/images/content/serv-3.jpg")
            span.services-1-slider__title Кожа
        .services-1-slider__item.swiper-slide
          .services-1-slider__inner
            img(src="static/images/content/serv-4.jpg")
            span.services-1-slider__title Пластик