section.price-list.bg-gray#price-list
  .container
    .section-top
      .section-head
        h2.section-title
          span Прайс-лист <br>
          | на УФ-печать
        p а также различную сувенирную продукцию Вы можете приобрести в нашей компании
      .section-top__right
        a(href="#").btn.order_open Заказать
        .slider-controls
          .swiper-button-prev
            +icon('arrow-left')
          span.devider
          .swiper-button-next
            +icon('arrow-right')

    .price-list-slider.swiper-container
      .swiper-wrapper
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-1.jpg")
            .price-list-slider__price от 7
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Ручки
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-2.jpg")
            .price-list-slider__price от 25
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Флешки
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-3.jpg")
            .price-list-slider__price от 50
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Чехлы
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-4.jpg")
            .price-list-slider__price от 50
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Ежедневник
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-5.jpg")
            .price-list-slider__price от 60
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Бейджики
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-1.jpg")
            .price-list-slider__price от 7
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Ручки
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-2.jpg")
            .price-list-slider__price от 25
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Флешки
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-3.jpg")
            .price-list-slider__price от 50
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Чехлы
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-4.jpg")
            .price-list-slider__price от 50
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Ежедневник
        .price-list-slider__item.swiper-slide
          .price-list-slider__inner
            .price-list-slider__img
              img(src="static/images/content/price-5.jpg")
            .price-list-slider__price от 60
              span.price-list-slider__price-currency Руб.
            h3.price-list-slider__title Бейджики