section.review.bg-gray#review
  .container
    .section-top
      h2.section-title
        span Отзывы <br>
        | от наших клиентов
      .section-top__right
        .slider-controls
          .swiper-button-prev
            +icon('arrow-left')
          span.devider
          .swiper-button-next
            +icon('arrow-right')

    .review-slider.swiper-container
      .swiper-wrapper
        .review-slider__item.swiper-slide
          .review-slider__head
            .review-slider__head-left
              img(src="static/images/content/ava.jpg", alt="").review-slider__img
              .review-slider__info
                b.review-slider__name Анастасия
                span.review-slider__date 21 Мая 2019
            .review-slider__head-right
              .star-rating
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item

          .review-slider__body
            p Ребята молодцы! Всё сделали за короткий срок. Если у вас срочная печать, то вам сюда
        .review-slider__item.swiper-slide
          .review-slider__head
            .review-slider__head-left
              img(src="static/images/content/ava.jpg", alt="").review-slider__img
              .review-slider__info
                b.review-slider__name Татьяна
                span.review-slider__date 01 Апреля 2019
            .review-slider__head-right
              .star-rating
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item

          .review-slider__body
            p Заказывали бейджи на магните. Изготовили быстро, качество отличное, всё вовремя без задержек
        .review-slider__item.swiper-slide
          .review-slider__head
            .review-slider__head-left
              img(src="static/images/content/ava.jpg", alt="").review-slider__img
              .review-slider__info
                b.review-slider__name Анастасия
                span.review-slider__date 21 Мая 2019
            .review-slider__head-right
              .star-rating
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item

          .review-slider__body
            p Ребята молодцы! Всё сделали за короткий срок. Если у вас срочная печать, то вам сюда
        .review-slider__item.swiper-slide
          .review-slider__head
            .review-slider__head-left
              img(src="static/images/content/ava.jpg", alt="").review-slider__img
              .review-slider__info
                b.review-slider__name Татьяна
                span.review-slider__date 01 Апреля 2019
            .review-slider__head-right
              .star-rating
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item
                span.star-rating__item

          .review-slider__body
            p Заказывали бейджи на магните. Изготовили быстро, качество отличное, всё вовремя без задержек