nav.scroll-nav
  ul
    li
      a(href="#hero") 01
    li
      a(href="#services-1") 02
    li
      a(href="#price-list") 03
    li
      a(href="#delivery") 04
    li
      a(href="#how-work") 05
    li
      a(href="#about") 06
    li
      a(href="#portfolio") 07
    li
      a(href="#equipment") 08
    li
      a(href="#review") 09

header.header
  .container
    a(href="./").logo.header__logo
      img(src="static/images/general/logo.svg", width="65", alt="Feel")

    a(href="mailto:ifeel@gmail.com").header__email ifeel@gmail.com

    .phone.header__phone
      .phone__left
        a(href="tel:84954112678").phone__tel
          +icon('call', 'phone__icon')
          | 8 (495) 411-26-78
        a(href="tel:89854112678").phone__tel 8 (985) 411-26-78
      a(href="#").btn.phone__callback.callback_open <span>Заказать</span> обратный звонок